# -----------------------------------------------------------------------------
# global
# -----------------------------------------------------------------------------
.DS_STORE

# -----------------------------------------------------------------------------
# integrated development environments
# -----------------------------------------------------------------------------
.idea

# -----------------------------------------------------------------------------
# application
# -----------------------------------------------------------------------------
/front/package.json
/front/yarn.lock

/front/public
/front/node_modules

/back/app/composer.json
/back/app/vendor
/data
